<div class="row">
    <div class="col s12">
        <div class="card light-blue darken-4">
            <div class="card-content white-text">
                <h4 class="header">NAME</h4>
                <span class="card-title">Engineer</span>
                <div style="margin-bottom: 8px; display: flex; align-items: center; justify-content: left;">
                    <i class="material-icons small white-text cardIcon">person</i>
                    <div style="width: 100%; display: flex; align-items: center; justify-content: space-between;">
                        <text>Employee ID: IDNUMBER</text> <text class="barcode">IDNUMBER</text>
                    </div>
                </div>

            </div>
            <div class="card-action" style="display: flex; align-items: center;">
                <i class="material-icons small white-text cardIcon">email</i>
                <a href="mailto:EMAIL">
                    EMAIL
    </a>

            </div>
            <div class="card-action" style="display: flex; align-items: center;">
                <img src="../assets/images/github.white.png" class="white-text cardIcon" width="28px">
                <a href="https://www.github.com/GITHUB">GITHUB</a>
            </div>
        </div>
    </div>
</div>