<div class="row">
    <div class="col s12">
        <div class="card light-blue darken-4">
            <div class="card-content  white-text">
                <span class="card-title">Engineer</span>
                <p>
                    Name: NAME
                </p>
                <p>
                    id: ID
                </p>

            </div>
            <div class="card-action">
                <a href="mailto:EMAIL">
                    EMAIL
                </a>
                <a href="www.github.com/GITHUB">www.github.com/GITHUB</a>

            </div>
        </div>
    </div>
</div>